$primary-color: #64ff00;
:export {
    primaryColor: $primary-color;
}

.home .nx-leading-7 {
    line-height: 110%;
}

.logo {
    display: flex;
    align-items: center;
    h1 {
        font-size: 28px;
        padding: 4px 10px;
        font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
    }
    span {
        padding-top: 6px;
        padding-left: 8px;
    }
}